body {
    margin: 1px !important;
    padding: 0 !important;
    min-width: 1000px !important;
    background-color: #0C0C34;
}

/*
* panelTemplate.xhtml
*/
.panelTemplateContent {
}

/*
* mainTemplate.xhtml selectors
*/
.mainLayoutNorth {
    border: 0 none !important;
    padding: 0 !important;
}

.mainLayoutNorth .ui-layout-unit-content {
    overflow: visible;
}

.mainLayoutCenter {
    border: 0 none !important;
    padding: 0 !important;
}

.mainLayoutWest {
    border: 0 none !important;
    padding: 0 !important;
}

.mainLayoutFooterContent {

}

.headerLayoutUnit {
    border: 0 none !important;
    padding: 0.1em 0.1em 0 0.1em !important;
}

.headerLayoutUnit .ui-layout-unit-content {
    overflow: visible;
}

.nestedLayoutUnit {
    border: 0 none !important;
    padding: 0 !important;
}

.container {
    height: 100% !important;
    width: 100% !important;
}

.formGrid {
}

table.formGrid {
    width: 100%;
    border: 0 none;
    border-collapse: collapse;
    table-layout: fixed;
}

.buttons {
    text-align: center;
    margin-bottom: 2px;
    margin-top: 5px;
}

.input {
    width: 150px;
}

/* Fixed widths */
.width40Fix {
    width: 40px;
    min-width: 40px !important;
}

.width45Fix {
    width: 45px;
    min-width: 45px !important;
}

.width50Fix {
    width: 50px;
    min-width: 50px !important;
}

.width60Fix {
    width: 60px;
    min-width: 60px !important;
}

.width70Fix {
    width: 70px;
    min-width: 70px !important;
}

.width80Fix {
    width: 80px;
    min-width: 80px !important;
}

.width90Fix {
    width: 90px;
    min-width: 90px !important;
}

.width100Fix {
    width: 100px;
    min-width: 100px !important;
}

.width110Fix {
    width: 110px;
    min-width: 110px !important;
}

.width120Fix {
    width: 120px;
    min-width: 120px !important;
}

.width130Fix {
    width: 130px;
    min-width: 130px !important;
}

.width140Fix {
    width: 140px;
    min-width: 140px !important;
}

.width150Fix {
    width: 150px;
    min-width: 150px !important;
}

.width160Fix {
    width: 160px;
    min-width: 160px !important;
}

.width170Fix {
    width: 170px;
    min-width: 170px !important;
}

.width180Fix {
    width: 180px;
    min-width: 180px !important;
}

.width190Fix {
    width: 190px;
    min-width: 190px !important;
}

.width200Fix {
    width: 200px;
    min-width: 200px !important;
}

.width400Fix {
    width: 400px;
    min-width: 400px !important;
}

.width750Fix {
    width: 750px;
    min-width: 750px !important;
}

/* Percentage widths */
.width5Pct {
    width: 5%;
}

.width10Pct {
    width: 10%;
}

.width12Pct {
    width: 12%;
}

.width15Pct {
    width: 15%;
}

.width20Pct {
    width: 20%;
}

.width22Pct {
    width: 22%;
}

.width25Pct {
    width: 25%;
}

.width30Pct {
    width: 30%;
}

.width35Pct {
    width: 35%;
}

.width40Pct {
    width: 40%;
}

.width45Pct {
    width: 45%;
}

.width50Pct {
    width: 50%;
}

.width55Pct {
    width: 55%;
}

.width60Pct {
    width: 60%;
}

.width65Pct {
    width: 65%;
}

.width70Pct {
    width: 70%;
}

.width75Pct {
    width: 75%;
}

.width80Pct {
    width: 80%;
}

.width85Pct {
    width: 85%;
}

.width90Pct {
    width: 90%;
}

.width95Pct {
    width: 95%;
}

.width100Pct {
    width: 100%;
}