/*
* Font size for all primefaces components
*/
.ui-widget, .ui-widget .ui-widget {
    font-size: 12px !important;
}

.ui-corner-tl {
    border-top-left-radius: 2px !important;
}

.ui-corner-tr {
    border-top-right-radius: 2px !important;
}

.ui-corner-bl {
    border-bottom-left-radius: 2px !important;
}

.ui-corner-br {
    border-bottom-right-radius: 2px !important;
}

.ui-corner-top {
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
}

.ui-corner-bottom {
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}

.ui-corner-right {
    border-bottom-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
}

.ui-corner-left {
    border-bottom-left-radius: 2px !important;
    border-top-left-radius: 2px !important;
}

.ui-corner-all {
    border-radius: 2px !important;
}

/*
* inputField component customizations
*/
.ui-inputfield {
    padding: 2px !important;
}

/*
* layout component customizations
*/
.ui-layout-center .ui-layout-resizer {
    border: 1px solid #0C0C34 !important;
    background-color: #0C0C34 !important;
    width: 99.8% !important;
}

/*
* fieldset component customizations
*/
.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
    padding: 0.1em 1em !important;
}
