/*
* Font size for all primefaces components
*/
.ui-widget {
    font-size: 11px !important;
    border-radius: 0 !important;
}

.ui-corner-all {
    border-radius: 0 !important;
}

/*
* inputField component customizations
*/
.ui-inputfield {
    padding: 2px !important;
}

/*
* layout component customizations
*/
.ui-layout-center .ui-layout-resizer {
    border: 1px solid #0C0C34 !important;
    background-color: #0C0C34 !important;
}
