
.formRow {
    width: 100%;
    border: 0 none;
    border-collapse: collapse;
}

.formRowLabel {
    text-align: right !important;
    vertical-align: text-top !important;
    padding-right: 2px;
    text-wrap: none;
}

.formRowLabelWidth {
    width: 30%;
}

.formRowContent {
    text-align: left !important;
}