/*

*/
.formElement {
    width: 100%;
    border: 0px none;
}

.formElementLabel {
    text-align: right !important;
    vertical-align: text-top !important;
    padding-right: 2px;
}

.formElementContent {
    text-align: left !important;
}